/* album_list.html */
div.album-list {
	margin: 20px 50px;
	position: relative;
}

div.album-list-photo {
	float: left;
	width: 150px;
	height: 180px;
}

/* album_detail.html */
div.album-detail {
	margin: 30px 10px;
}

div.album-detail-photo{
	float:left;
	width:220px;
	height:220px;
}

div.album-detail-photo > li {
	font-size: 10px;
	font-weight: bold;
	font-style: italic;
}

/* photo_detail.html */
table.photo-detail {
	margin: 30px 50px 0 50px;
	border: 1px solid #ccc;
	padding: 20px 20px;
}

table.photo-detail td {
	width: 50%;
}

table.photo-detail ul li {
	font-weight: bold;
}

table.photo-detail ul p {
	font-style: italic;
}

/* common */
img.thumbnail {
	border:3px solid #ccc;
}

div.clear_float {
	clear: both;
}

.content-container{
	background:rgba(0,46,122,1);
	width:100%;
	margin-top:5px;
	padding:5px;
	position:relative;
	font-size:12px;
	font-family:"Malgun Gothic", "맑은 고딕", arial, dotum, gulim;
	cursor: pointer;
}

.fl_left{
	position: relative;
	float: left;
}

.fl_right{
	position: relative;
	float: right;
	padding-right: 3%;
}

.gap10r{
	position: relative;
	margin-top: 10px;
}