{% extends "base.html" %}

{% block title %} post_detail.html {% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "tagging/tag.css" %}{% endblock %}

{% block content %}
<script type="text/javascript">
	function fn_move(todo, itemId){
		document.location.href="../../" + itemId + "/" + todo;
	}

</script>
<div id="content">
	<h2 class="post_title">{{ object.title }}</h2>
	

	<div class="container">	
		<p class="date"> {{object.modify_date|date:"N d, Y"}}</p>

		<div style="height: 10px;"></div>

		<div class="body" id="cont1">
			{{ object.content}}
		</div>
		<script type="text/javascript">
			var s= document.getElementById("cont1").innerHTML;
			var e = document.createElement('div');
  			e.innerHTML = s;
  			document.getElementById("cont1").innerHTML = e.childNodes[0].nodeValue;

		</script>
		<div>
			<b>TAGS: </b>
			{% load tagging_tags %}
			{% tags_for_object object as tags %}
			{% for tag in tags %}
			<a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}}</a>
			{% endfor %}
			<a href="{% url 'blog:tag_cloud' %}"><i>[ TagCloud ]</i></a>
		</div>

		<div class="gap10"></div>
		<div>
		{% load disqus_tags %}
		{% disqus_show_comments %}
		</div>
	</div>

	<hr style="margin: 5px 0;">
	<div class="fl_right">	
		<div class="content-container" style="position: relative;" onclick="fn_move('delete', {{object.id }});"><fieldset><h3 style="text-align:center;color:rgba(252,10,50,1);">삭제</h3></fieldset></div> 
	</div>
	<div class="fl_right">	
		<div class="content-container" style="position: relative;" onclick="fn_move('update', {{object.id }});"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">편집</h3></fieldset></div> 
	</div>
	
	<p class="fl_left">
	{% if object.get_previous_by_modify_date %}
		이전글: <a href="{{ object.get_previous_post.get_absolute_url }}" title="View previous post">{{ object.get_previous_post}} </a>
	{% endif %}
	</p>

	<p class="fl_right">
	{% if object.get_next_by_modify_date %}
		다음글: <a href="{{ object.get_next_post.get_absolute_url }}" title="View next post">{{ object.get_next_post}} </a>
	{% endif %}
	</p>
</div>

{% endblock %}