{% extends "base.html" %}

{% block title %}post_form.html{% endblock %}
{% load static %}

{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block extrahead %}<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>{{ block.super }}{% endblock %}

{% block content %}
	<div id="content">
		<h1>Post 등록/편집 - {{user}}</h1>

		<form action="." method="post" id="submitrow">{% csrf_token %}

			{% if form.errors %}
			<p class="errornote">Wrong! Please correct the error(s) below.</p>
			{% endif %}

			<p>포스트를 등록 또는 편집 합니다.</p>

			<fieldset class="aligned">
				
				<div class="form-row">
					{{ form.title.label_tag }} {{ form.title }}
				</div>
				<div class="form-row">
					{{ form.slug.label_tag }} {{ form.slug }}
				</div>
				<div class="form-row">
					{{ form.description.label_tag }} {{ form.description }}
				</div>
				<div class="form-row">
					{{ form.content.label_tag }} {{ form.content }}
				</div>
				<div class="form-row">
					{{ form.tag.label_tag }} {{ form.tag }}
				</div>
			</fieldset>

			<div class="fl_right">	
				<div class="content-container" onclick="fn_submit();"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">제출</h3></fieldset></div> <!-- write -->	
			</div>

			<script type="text/javascript">document.getElementById('id_title').focus();</script>
			
		</form>

	</div>
{% endblock %}