{% extends "base.html" %}

{% block title %} Blog List {% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "tagging/tag.css" %}{% endblock %}

{% block content %}
<div class="blog-list">
	{% for post in posts %}
		<div class="cont_post">
			<h2><a href='{{ post.get_absolute_url }}' class="txt_wrap">{{post.title}}</a></h2>
			<div class="cont_img">				
				<a href="{{ post.get_absolute_url }}"><img width="100%" height="100%" src="/static/img/post_tmp.jpg" /></a>
			</div>
			<p class="">{{ post.content }}</p>								
			{{post.modify_date|date:"N d, Y"}}
		</div>
	{% endfor %}

	<div style="height: 10px;"></div>

	<div>
		<span>
		{% if page_obj.has_previous  %}
			<a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
		{% endif  %}

		Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

		{% if page_obj.has_next  %}
			<a href="?page={{ page_obj.next_page_number }}">NextPage</a>
		{% endif   %}
		</span>
	</div>
	<hr style="margin: 5px 0;">
	<div class="fl_right">	
		<div class="content-container" onclick="fn_write();"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">글쓰기</h3></fieldset></div> <!-- write -->	
	</div>
</div>

{% endblock %}
