{% extends "base.html" %}

{% block title %} Blog List {% endblock %}

{% load static %}
{% block extrastyle %}{% static "tagging/tag.css" %}{% endblock %}

{% block content %}
<div class="blog-list" id="blog-list">
	{% for post in posts %}
		<div class="cont_post" id="post{{ post.id }}">
			<h2><a href='{{ post.get_absolute_url }}' class="txt_wrap">{{post.title}}</a></h2>
			<div id="cont_img" class="cont_img">				
				<a href="{{ post.get_absolute_url }}"><img id="img{{ post.id }}" src="" style="width: 100%; height: auto;" /></a>
			</div>
			<div id="{{ post.id }}" class="">{{ post.content }}</div>								
			{{post.modify_date|date:"N d, Y"}}
		</div>
		<script type="text/javascript">
			/**리스트에 img thumbnail 넣기 */
			var s =	$("#{{ post.id }}").html();			
			var e = document.createElement('div');
			e.innerHTML = s;
			var htm = e.childNodes[0].nodeValue;
			e.innerHTML = htm;
			if(!(/Mobi/.test(navigator.userAgent))){
				var str = e.getElementsByTagName("img")[0];
				if( e.getElementsByTagName("img")[0] != "undefined" && e.getElementsByTagName("img")[0] != undefined ){
					var src = e.getElementsByTagName("img")[0].outerHTML;
					var tgt = document.getElementById("img{{ post.id }}");
					tgt.src = e.getElementsByTagName("img")[0].src;
					
				}
			}else{
				$("#cont_img").remove();
				$("#post{{ post.id }}").css("width", "100%");
				$("#blog-list").css("width", "80%");
			}
			/**리스트에서 img 태그 제거 */
			/*var txt = $("#{{ post.id }}").text();
			$("#{{ post.id }}").text('').append(txt).find('img').remove().end().text();*/
			var xxx = $(htm).text();
			$('#{{post.id}}').text(xxx);
		</script>
	{% endfor %}

	<div style="height: 10px;"></div>

	<div style="text-align: center;font-size: 22px;">
			<span>
			{% if page_obj.has_previous  %}
				<a href="?page={{ page_obj.previous_page_number }}">◀</a>
			{% endif  %}

			{% if page_obj.has_previous or page_obj.has_next  %}
			{{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
			{% endif %}

			{% if page_obj.has_next  %}
				<a href="?page={{ page_obj.next_page_number }}">▶</a>
			{% endif   %}
			</span>
		</div>
	<hr style="margin: 5px 0;">
	<div class="fl_right">	
		<div class="content-container" onclick="fn_write();"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">글쓰기</h3></fieldset></div> <!-- write -->	
	</div>
</div>

{% endblock %}
