{% extends "base.html" %}

{% block title %}album_detail.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "photo/photo.css" %}{% endblock %}

{% block content %}
<script type="text/javascript">
	function fn_move(todo, itemId){
		document.location.href="../" + itemId + "/" + todo;
	}

</script>
<div id ="content">
	<div class="fl_right">	
		<div class="content-container" style="position: relative;" onclick="fn_move('delete', {{object.id }});"><fieldset><h3 style="text-align:center;color:rgba(252,10,50,1);">삭제</h3></fieldset></div> 
	</div>
	<div class="fl_right">	
		<div class="content-container" style="position: relative;" onclick="fn_move('update', {{object.id }});"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">편집</h3></fieldset></div> 
	</div>
	<div class="clear_float">
		<h2 style="display:inline;">{{ object.name}}</h2>
		&emsp;
		<b><i>{{ object.description }}</i></b>
	</div>

	<hr/>

	<div class="album-detail">
		{% for photo in object.photo_set.all %} <!--print 5 thumbnail -->
		<div class="album-detail-photo">
			<a href="{{ photo.get_absoulte_url }}">
				<img class="thumbnail" src="{{ photo.image.thumb_url }}" />
			</a>
			<li>{{ photo.title}}</li>
			<li>{{ photo.upload_date|date:"Y-m-d" }}</li>
		</div>
		{% endfor %}
	</div>	
</div>
{% endblock %}