{% extends "base.html" %}

{% block title %}photo_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id ="content">
	<h1>사진 등록/수정 - {{ user }}</h1>

	{% if form.is_multipart %}
	<form enctype="multipart/form-data" id="submitrow" method="post" action=".">
	{% else %}
	<form method="post"	id="submitrow" action=".">
	{% endif %}
	{% csrf_token %}

		{% if form.errors %}
			<p class="errornote">Wrong! Please correct the error(s) below.</p>
		{% endif %}
		
		<h4>사진을 등록하거나 수정합니다.</h4>

		<fieldset class="aligned">
			<div class="form-row">
				{{ form.image.label_tag }} {{ form.image }}
			</div>
			<div class="form-row">
				{{ form.album.label_tag }} {{ form.album }}
				<button type="button"><a href="{% url 'photo:album_add' %}">Add Ablum</a></button>
			</div>
			<div class="form-row">
				{{ form.title.label_tag }} {{ form.title }}
			</div>
			<div class="form-row">
				{{ form.description.label_tag }} {{ form.description }}
			</div>
		</fieldset>
		
		
		<div class="fl_right">	
			<div class="content-container" onclick="fn_submit();"><fieldset><h3 style="text-align:center;color:rgba(252,217,36,1);">제출</h3></fieldset></div> <!-- write -->	
		</div>

		<script type="text/javascript">document.getElementById('id_album').focus();</script>
	</form>
</div>
{% endblock %}