<!DOCTYPE html>
<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %} Django Web Programming {% endblock %} </title>

{% load staticfiles %}
{% load stock_filter %}

<!-- <link rel="stylesheet" title="basecss" type="text/css" href="{% static 'css/base.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />
<script type="text/javascript" src="{% static 'ckeditor/ckeditor-init.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/ckeditor/ckeditor.js' %}"></script>
<script type="text/javascript" src="{% static 'ckeditor/galleriffic/js/jquery-1.3.2.js' %}"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/exporting.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/data.js"></script>
<script type="text/javascript">
	if((/Mobi/.test(navigator.userAgent))) {
		$('head').append('<link rel="stylesheet" title="basecss_m" type="text/css" href="{% static 'css/base_m.css' %}" />');
	}else{
		$('head').append('<link rel="stylesheet" title="basecss_m" type="text/css" href="{% static 'css/base.css' %}" />');
	}
</script>
<script type="text/javascript">
	function fn_write(){
		document.location.href = "add";

	}
	function fn_submit(){
		$('#submitrow').submit();
	}
</script>

</head>

<body>
	<div id="header">
		<a href="{% url 'home' %}" id="gohome" style="width: 220px;"><h2 class="maintitle" id="maintitle">파이썬학습조직-기술블로그</h2></a>
		<script type="text/javascript">
			if (/Mobi/.test(navigator.userAgent)) {
    		// mobile!
    			$('#gohome').attr("href","{% url 'mobihome' %}");
			}
		</script>
		<h4 class="welcome"><a href="#" class="weather">날씨 : {{''|get_weather}} / 미세먼지농도 : {{'/'|get_airdata}}</a></h4>
				
		{% if user.is_active %}
		<h4 class="welcome">환영합니다, 
			<strong>{% firstof user.get_short_name user.get_username %}</strong>
			<br />
			<a href="{% url 'password_change' %}">비밀번호 변경</a> / 
			<a href="{% url 'logout' %}">로그아웃</a>
		</h4>
		{% else %}
		<h4 class="welcome">방문을 환영합니다.
			<br />
			<a href="{% url 'login' %}">로그인</a> / 
			<a href="{% url 'register' %}">등록하기 </a>
		</h4>
		{% endif %}

		<!-- <div id="userarea">		
		{% if user.is_active %}
		<li>
			<h4 class="welcome">환영합니다, 
				<strong>{% firstof user.get_short_name user.get_username %}</strong>			
			</h4>
			<ul>
					<li><a href="{% url 'password_change' %}">PW 변경</a></li>
					<li><a href="{% url 'logout' %}">로그아웃</a></li>
			</ul>
		</li>
		{% else %}
		<h4 class="welcome">Welcome, Anonymous
			<a href="{% url 'login' %}">로그인</a> / 
			<a href="{% url 'register' %}">등록신청</a>
		</h4>
		{% endif %}
		</div> -->
		
	</div>

	<div id="menu">
		<li><a href="{% url 'bookmark:index' %}">즐겨찾기</a></li>
		<li><a href="{% url 'blog:index' %}">블로그</a></li>
		<li><a href="{% url 'photo:index' %}">앨범</a></li>

		<!-- <li><a href="#">Add &bigtriangledown;</a>
			<ul>
				<li><a href="{% url 'bookmark:add' %}">BookMark</a></li> 
				<li><a href="{% url 'blog:add' %}">Post</a></li>
				<li><a href="{% url 'photo:album_add' %}">Album</a></li> 
				<li><a href="{% url 'photo:photo_add' %}">Photo</a></li>
			</ul>
		</li>
		-->
		<!-- <li><a href="#">Change &bigtriangledown;</a>
			<ul>
				<li><a href="{% url 'bookmark:change' %}">BookMark</a></li>
				<li><a href="{% url 'blog:change' %}">Post</a></li>
				<li><a href="{% url 'photo:album_change' %}">Album</a></li>
				<li><a href="{% url 'photo:photo_change' %}">Photo</a></li>
			</ul>
		</li>  -->

		<!-- <li><a href="{% url 'blog:post_archive' %}">Archive</a></li> -->
		<!-- <li><a href="{% url 'blog:search' %}">Search</a></li> -->
		<li><a href="{% url 'admin:index' %}">관리자</a></li>
	</div>

	<div style="height: 20px;background:rgba(0,46,122,1); padding-left: 5px;width: 100%;"></div>

	{% block content %}{% endblock %}	
	{% block footer %}{% endblock %}
</body>

<script type="text/javascript">
	/*$(document).load(function(){
		if(/Mobi/.test(navigator.userAgent)) {
			$('head').append('<link rel="stylesheet" title="basecss_m" type="text/css" href="{% static 'css/base_m.css' %}" />');
			$('link[title="basecss"]').remove();
			$('#maintitle').text("파이썬학습조직");
		}
	});*/
</script>
</html>