{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{%block content %}
<div id="homeimg">
	<img src="{% static 'img/pycon2017.png' %}" style="align-content:center;width: 490px;height: 291px;" />
	<h4 >"Life is short, You need Python"</h4>
</div>
<div id="content_home">
	
	<hr style="margin: 5px 0;">

	<div class="blog-list">
		{% for post in posts %}
		<div class="cont_post">
			<h2><a href='{{ post.get_absolute_url }}' class="txt_wrap">{{post.title}}</a></h2>
			<div class="cont_img">				
				<a href="{{ post.get_absolute_url }}"><img width="100%" height="100%" src="/media/photo/2017/10/201609141110777623_57d8b27def1cc_99_20160914111505.jpg" /></a>
			</div>
			<p class="">{{ post.content }}</p>								
			{{post.modify_date|date:"N d, Y"}}
		</div>
		{% endfor %}	
		
	</div>
	<div class="tag-cloud">

		{% load tagging_tags %}
		{% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
		{% for tag in tags %}
		<span class="tag-{{tag.font_size}}">
			<a href="{% url 'blog:tagged_object_list' tag.name %}">{{tag.name}} ({{tag.font_size}})</a>
		</span>
		{% endfor %}
	</div>	
	
</div>	


{% endblock content %}
{% block footer %}
<div>
</div>
{% endblock footer %}
