{% extends "base.html" %}

{% block title %}home.html{% endblock %}

{% load staticfiles %}
{% load stock_filter %}
{% block extrastyle %}{% static "css/home.css" %}{% endblock %}

{%block content %}
<div id="homeimg">
	<img src="{% static 'img/pycon2017.png' %}" style="align-content:center;width: 490px;height: 291px;" />
	<h4 >"Life is short, You need Python"</h4>
</div>
<div id="content_home">
	
	<hr style="margin: 5px 0;">

	<div class="blog-list">
		{% for post in posts %}
		<div class="cont_post">
			<h2><a href='{{ post.get_absolute_url }}' class="txt_wrap">{{post.title}} - {{post.modify_date|date:"N d, Y"}}</a></h2>
			<div class="cont_img">				
				<a href="{{ post.get_absolute_url }}"><img id="img{{ post.id }}" src="" style="width: 170px; height: 130px;" /></a>
			</div>
			<div class="txt_shorten" id="{{ post.id }}">{{ post.content }}</div>	
		</div>		
		<script type="text/javascript">
			/**리스트에 img thumbnail 넣기 */
			var s =	$("#{{ post.id }}").html();			
			var e = document.createElement('div');
			e.innerHTML = s;
			var htm = e.childNodes[0].nodeValue;
			e.innerHTML = htm;
			var str = e.getElementsByTagName("img")[0];
			if( e.getElementsByTagName("img")[0] != "undefined" && e.getElementsByTagName("img")[0] != undefined ){
				var src = e.getElementsByTagName("img")[0].outerHTML;
				var tgt = document.getElementById("img{{ post.id }}");
				tgt.src = e.getElementsByTagName("img")[0].src;
				
			}

			/**리스트에서 img 태그 제거 */
			var txt = $("#{{ post.id }}").text();
			$("#{{ post.id }}").text('').append(txt).find('img').remove().end().text();
		</script>
		{% endfor %}
	</div>
	<div class="tag-cloud">

		<div >
			<fieldset>
				<legend>SEARCH</legend>
				<form action="blog/search/" method="post"> {% csrf_token %}
					<input class="search_area" type="text" placeholder="학습조직 블로그 검색" name="search_word" value="" />
					<input class="btn_search"  type="submit" src="{% static 'img/magnifying-glass.png' %}" value=">>" />
				</form>
			</fieldset>
		</div>

		<div id="stock_cont">
		<h4><b>투자정보</b></h4>
			<span style="color: #ff0000;">KOSPI : {{ '^KOSPI'|get_price }}</span>
			<div class="gap10"></div>
			<span style="color: #ff0000;">KOSPI : 2490.25</span>
			<div class="gap10"></div>
			<span style="color: #ff0000;">KOSPI : 2490.25</span>
		</div>

		<div class="gap40"></div>

		<h4><b>TAGS</b></h4>
		{% load tagging_tags %}
		{% tag_cloud_for_model blog.Post as tags with steps=6 min_count=1 distribution=log %}
		{% for tag in tags %}
		<span class="tag-{{tag.font_size}}">
			<a href="{% url 'blog:tagged_object_list' tag.name %}">&nbsp;{{tag.name}}&nbsp;</a>
		</span> 
		{% endfor %}
	</div>	

	
</div>	


{% endblock content %}
{% block footer %}
<div>
</div>
{% endblock footer %}

