{% extends "base.html" %}

{% block title %} AirData List {% endblock %}

{% block content %}
	<div id="content">
	<h1>AirData List</h1>

	<ul>
<!--{{xmldata.items}}
-->

{% for entry in xmldata.item %}
   </p>
    <!---- {{entry}}-->
		{% for items in entry.dataTime %}
			{{items}}
		{% endfor %}
		&nbsp&nbsp
		{% for items in entry.pm25Value24 %}
	   		{{items}}
		{% endfor %}
		&nbsp&nbsp
		{% for items in entry.o3Value %}
	   		{{items}}
		{% endfor %}
{% endfor %}
	</ul>

	</div>
{% endblock %}